@model DATA_BASE_CONNECTION_ASP.NET.Models.Product

<h2>Deleting Product...</h2>

<div class="alert alert-info">
    The product <strong>@Model.Name</strong> with a price of <strong>@Model.Price</strong> is being deleted.
</div>
